<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proxy.service.library.info" >

    <application>

        <provider
            android:name="com.proxy.service.library.provider.CloudProvider"
            android:authorities="${applicationId}.proxy_service_provider"
            android:exported="false"
            android:grantUriPermissions="true" />

    </application>

</manifest>
